<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<script>
    function hijack() {
        $('body').on('click', 'body *', function(e){
            e.preventDefault();
            loadPage(e.target.href);
            })
    }
    function loadPage(url){
        $('body').load(url + 'body', hijack);
    }
</script>
<body>
    {{ partial "header.html" . }}
    <div id="content">
        {{ block "main" . }}{{ end }}
    </div>
    {{ partial "instagram.html" . }}

    {{ partial "footer.html" . }}
</body>

</html>