<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<script>
    $(document).ready(function(){
        $("li").click(function(e){
            e.preventDefault();
            loadPage($(this).attr('href'))
        });
    });
    $(document).ready(function(){
        $("a").click(function(e){
                e.preventDefault();
                loadPage($(this).attr('href'))
            });
        });
    function loadPage(url){
        $("#content").load(url + " #content");
        $('html, body').animate({ scrollTop: 0 }, 0);
        $('button.navbar-toggler').addClass("collapsed");
        $('div.navbar-collapse').removeClass("show");
    }
    </script>
<body>
    {{ partial "header.html" . }}
    <div id="content">
        {{ block "main" . }}{{ end }}
    </div>
    {{ partial "instagram.html" . }}

    {{ partial "footer.html" . }}
</body>

</html>