{{ define "main" }}

{{ partial "feature.html" . }}

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-section-title">
          <h2>{{ $.Site.Params.blogTitle }}</h2>
          <p>{{ $.Site.Params.blogSubTitle }}</p>
        </div>
        {{ range $.Paginator.Pages }}
        <article class="blog-post">
          <div class="blog-post-thumb">
            <a class="clickable"href="{{ .Permalink }}"><img src="{{ .Params.thumbnail  | absURL }}" alt="blog-thum"/></a>
          </div>
          <div class="blog-post-content">
            <div class="blog-post-tag">
              <a class="clickable" href={{ printf "tags/%s" .Params.tags | absURL }}> {{ .Params.tags }} </a>
            </div>
            <div class="blog-post-title">
              <a class="clickable" href="{{ .Permalink }}"> {{ .Title }} </a>
            </div>
            <div class="blog-post-meta">
              <ul>
                {{ if eq .Params.author "Ella" }}
                <li>
                  By <a class="clickable" href={{ "about" | absURL }}>{{ .Params.author }}</a>
                </li>
                {{end}}
                {{ if eq .Params.author "Lya" }}
                <li>
                  By <a class="clickable" href={{ "aboutlya" | absURL }}>{{ .Params.author }}</a>
                </li>
                {{end}}
                <li>
                  <i class="fa fa-clock-o"></i>
                  {{ .PublishDate.Format "January 2, 2006" }}
                </li>
              </ul>
            </div>
            <p>
              {{ .Summary }}
            </p>
            <a class="clickable" href="{{ .Permalink }}" class="blog-post-action">lies mehr <i class="fa fa-angle-right"></i></a>
          </div>
        </article>
        {{ end }}
        {{ partial "pagination" .}}
      </div>

      <div class="col-lg-4">
        <div class="blog-post-widget">
          <div class="latest-widget-title">
            <h2>Meine Empfehlungen</h2>
          </div>
          {{ range $i, $.Site.RegularPages }} {{ if eq .Params.tranding true }}
          <div class="latest-widget">
            <div class="latest-widget-thum">
              <a href="{{ .Permalink }}" class="post-thumb clickable"
                style='background-image: url("{{ .Params.thumbnail | absURL }}")'>
              </a>
              <div class="icon">
                <a class="clickable" href="{{ .Permalink }}">
                  <i class="fa fa-bookmark" style="color:beige;"></i></a>
              </div>
            </div>
            <div class="latest-widget-content">
              <div class="content-title">
                <a class="clickable" href="{{ .Permalink }}">
                  {{ .Title }}
                </a>
              </div>
              <div class="content-meta">
                <ul>
                  <li>
                    <i class="fa fa-clock-o"></i>
                    {{ .PublishDate.Format "January 2, 2006" }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {{ end }} {{ end }}
          <div class="footer-logo" style="max-height: 20px">
            <img src="https://api.visitorbadge.io/api/visitors?path=https%3A%2F%2Fartbyella.de&label=Besucher%20gesamt&labelColor=%23ede1d3&countColor=%23ede1d3" />  </div>
</section>

{{ end }}