<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <div class="footer-logo" style="max-height: 20px">
          <img src={{ .Site.Params.logo | absURL }} alt="logo" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="footer-nav">
          <ul class="navbar-nav">
            {{ range .Site.Menus.main }}
            {{ if .HasChildren}}
            {{ end }}
            {{ if not .HasChildren}}
              <li class="nav-item">
                <a class="clickable nav-link" href={{ .URL | absURL }}>{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="sociale-icon">
          <ul>
            <li>
              <a href="https://www.pinterest.com/{{ .Site.Params.pinterestUsername }}">
                <i class="fa fa-pinterest"></i></a></li>
            <li>
              <a href="https://www.instagram.com/{{ .Site.Params.instaUsername }}">
                <i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.deviantart.com/{{ .Site.Params.deviantartUsername }}">
                <i class="fa fa-deviantart"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="copy-right">
          <p>© Copyright {{ dateFormat "2006" now }} - <a class="copy-right-rights">Alle Rechte vorbehalten</a> <a class="clickable" href=/about>Sophia Élaine Stein</a> </p>
          <p><a class="clickable" href=/datenschutz>Datenschutz</a> | <a class="clickable" href=/impressum>Impressum</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Vendor JS -->
{{ $vendor:= resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
<!-- {{ $formHandler:= resources.Get "js/form-handler.js" | minify }}
<script src="{{ $formHandler.Permalink }}"></script> -->
<!-- Main JS -->
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>